@model TiendaVirtualNarvaez.Models.Usuario

<div class="container mt-4">

    <h2 class="mb-3">Crear Usuario</h2>

    <form asp-action="Create" method="post">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Correo</label>
            <input asp-for="Correo" class="form-control" />
            <span asp-validation-for="Correo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Rol</label>
            <input asp-for="Rol" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Celular</label>
            <input asp-for="Celular" class="form-control" />
            <span asp-validation-for="Celular" class="text-danger"></span>
        </div>

        <hr>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="/Usuario" class="btn btn-secondary">Volver</a>

    </form>
</div>
