@model TiendaVirtualNarvaez.Models.Usuario

<h2>Editar Usuario</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Correo</label>
        <input asp-for="Correo" class="form-control" />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Rol</label>
        <input asp-for="Rol" class="form-control" />
    </div>

    <div class="form-group">
        <label>Celular</label>
<<<<<<< HEAD
        <input asp-for="Celular" class="form-control" />
        <span asp-validation-for="Celular" class="text-danger"></span>
=======
        <input asp-for="celular" class="form-control" />
        <span asp-validation-for="celular" class="text-danger"></span>
>>>>>>> 0fd856ef78af15b144221a17dfa67ec19f637d14
    </div>

    <hr>

    <button class="btn btn-primary">Actualizar</button>
    <a href="/Usuario" class="btn btn-secondary">Volver</a>

<<<<<<< HEAD
</form>
=======
</form>
>>>>>>> 0fd856ef78af15b144221a17dfa67ec19f637d14
