@model TiendaVirtualNarvaez.Models.Producto

<div class="container mt-4">

    <h2>Editar Producto</h2>

    <form asp-action="Edit" method="post">

        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label>Nombre</label>
            <input asp-for="Nombre" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Precio</label>
            <input asp-for="Precio" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Stock</label>
            <input asp-for="Stock" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Categoría</label>

            <select asp-for="CategoriaId" class="form-control">
                @foreach (var cat in ViewBag.Categorias)
                {
                    <option value="@cat.Id">@cat.Nombre</option>
                }
            </select>
        </div>

        <button class="btn btn-primary">Actualizar</button>
        <a href="/Producto" class="btn btn-secondary">Volver</a>
    </form>

</div>