@model List<TiendaVirtualNarvaez.Models.Categoria>

@{
    ViewData["Title"] = "Categoria";
}

<h2>Lista de Categorías</h2>

<a class="btn btn-primary" href="/Categoria/Create">Nueva Categoría</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
<<<<<<< HEAD
=======
            <th>Estado</th>
>>>>>>> eb6aa5aef1d4c1a475c61204ce7e404f9c460ba8
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
<<<<<<< HEAD
=======
                <td>@item.Estado</td>
>>>>>>> eb6aa5aef1d4c1a475c61204ce7e404f9c460ba8

                <td>
                    <a class="btn btn-warning"
                       href="/Categoria/Edit/@item.Id">Editar</a>

                    <a class="btn btn-danger"
                       href="/Categoria/Delete/@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>